In [1]:
import pandas as pd

In [6]:
my_list = [[1, 2, 4, 6, 7],[2, 3, 10, 3, 2]]

In [12]:
df = pd.DataFrame(my_list)
df = df.T
df.columns = ['Xi','Ni']

In [13]:
df

   Xi  Ni
0   1   2
1   2   3
2   4  10
3   6   3
4   7   2

In [25]:
#Знаходимо вибіркове середнє
X = sum(df['Xi']*df['Ni']) / sum(df['Ni'])
X

4.0

In [28]:
#Знаходимо дисперсію
dispersion_x = (sum((df['Xi'] - X)**2*df['Ni'])) / (sum(df['Ni'])-1)
dispersion_x

3.1578947368421053

In [29]:
#Знаходимо середньоквадратичне відхилення
deviation_x = dispersion_x**0.5
deviation_x

1.7770466332772772

In [41]:
#для n=20 та н=0.95 знаходимо q=0.37 (З таблиці значень q = q(y, n) для оцінки середньоквадратичного відхилення)
#Знаходимо початок інтервальної оцінки
k_start = deviation_x * (1-0.37)
k_start

1.1195393789646846

In [42]:
#Знаходимо кінець інтервальної оцінки
k_end = deviation_x * (1 + 0.37)
k_end

2.43455388758987

In [43]:
#інтервальна оцінка матиме вигляд (інтервальна оцінка покриває середньоквадратичне відхилення генеральної сукупності)
k_start < deviation_x < k_end

True